# Apple macOS
.DS_Store

# Apache Maven
target/

# JetBrains IntelliJ IDEA
*.ipr
*.iws
*.iml
.run/*
!.run/tests.run.xml
!.run/build.run.xml
.idea/*
!.idea/encodings.xml
!.idea/copyright/
!.idea/codeStyles/
!.idea/inspectionProfiles/
